{% extends 'base.html' %}
{% block content %}
{% load static %}

<div>
	<h1>{{ user.profile.name }}</h1>
	<h1>{{ user.profile.sign }}</h1>
</div>

{% for photo in user.photo_set.all %}
  <img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

<form action="{% url 'users_detail' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>

{% comment %} <div>
	{{ user.profile.bio }}
	{% if user == request.user %}
		<form action="{% url 'add_chat' user.id request.user.id %}" method="post">
			{% csrf_token %}
			<input type="submit" class="btn" value="Edit Bio">
		</form>
	{% endif %}
</div> {% endcomment %}

<div>
	{% if user == request.user %}
		{% for chat in chats %}
			<div>
				<a href="{% url 'chats_detail' chat.id %}">
					Continue chat with
				</a>
			</div>
		{% endfor %}
	{% else %}
		{% if view_chat %}
			<div>
				<a href="{% url 'chats_detail' view_chat.id %}">
					Continue chat with {{ user.profile.name }}
				</a>
			</div>
		{% else %}
			<form action="{% url 'add_chat' user.username request.user.username %}" method="post">
				{% csrf_token %}
				<input type="submit" class="btn" value="Start Chat">
			</form>
		{% endif %}
	{% endif %}
</div>

{% endblock %}