{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StarCrossed</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a id="name" href="/" class="left brand-logo">&nbsp;&nbsp;StarCrossed</a></li>
                </ul>
                <ul class="right">
                	{% if user.is_authenticated %}
                    	<li><a id="user-auth" href="{% url 'logout' %}">Log Out</a></li>
                  	{% else %}
                    	<li><a id="user-auth" href="{% url 'signup' %}">Sign Up</a></li>
                    	<li><a id="user-auth" href="{% url 'login' %}">Log In</a></li>
                  	{% endif %}
                </ul>

            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <br><br>
  	<footer class="page-footer">
       <div class="right">All Rights Reserved, &copy; 2020 Star Crossed &nbsp;</div>
    </footer>
</body>
</html>