{% extends 'base.html' %}
{% block content %}
{% load static %}

<div>
	<h1>{{ sign.name }}</h1>
	<h3>{{ symbol }}</h3>
	<img id="nicepics" src="{% static img_url %}" alt="{{ sign }}">
</div>

<div>
	<div>Element: {{ sign.element }}</div>
	<div>Traits:
		{% for trait in sign.mental_traits %}
			{{ trait }}
		{% endfor %}
	</div>
	<div>Compatibility:
		<ul>{% for partner in sign.compatibility %}
			{% if partner == 'aurus' %}
				<li>Taurus</li>
			{% else %}
				<li>{{ partner }}</li>
			{% endif %}
		{% endfor %}</ul>
	<div>Today's Fortune: {{ fortune.horoscope }}</div>
</div>

{% endblock %}